{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Add Movies{% endblock title %}


{% block content %}
<div class="container w-75 bg-dark mt-5 p-5 mx-auto rounded shadow">
    <h3 class="text-center text-light">Add Movie
        <hr>
    </h3>


    <div class="row form-bg rounded overflow-auto">
        <div class="col-6"></div>
        <div class="col-6 h-50 pe-0">
            <form action="{% url 'add_movies' %}" method="POST" enctype="multipart/form-data"
                class="text-light px-3 bg-blur pyx-3">

                {% csrf_token %}

                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg mb-2">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>







{% endblock content %}