{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Add Movies{% endblock title %}


{% block content %}
<div class="container bg-dark mt-5 p-5 w-75 h-100 mx-auto rounded shadow">
    <h3 class="text-center text-light">Add Movie</h3>

    <form action="{% url 'add_movies' %}" method="POST" enctype="multipart/form-data" class="text-light">
        
        {% csrf_token %}

        {{ form|crispy }}
        
        <button type="submit" class="btn  btn-primary btn-lg">Save</button>
    </form>
</div>







{% endblock content %}