{% extends 'base.html' %}

{% block title %}Genres{% endblock title %}


{% block content %}
{% if user.is_staff %}
<div class="container mt-2  d-flex justify-content-end"><a href="{% url 'add_genre' %}" class="btn btn-light">Add Genres</a></div>
<hr class="text-light mt-2">
{% endif %}
<div class="container w-75 mt-5 mx-auto">
    
    <div class="row">


        {% if genres %}
        {% for genre in genres %}

        <div class="col-3 m-auto mb-4"><a href="{% url 'selected_genre' genre.id %}">
                <div class="genre-container img-hover-zoom select">
                    <img src="{{ genre.genre_images.url }}" alt="" class="genre-poster">
                    <div class="bottom-left ms-3 text-bg-dark rounded p-1 px-2 mb-3 fw-bolder">{{genre.genre_name}}
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
        {% endif %}


    </div>
</div>


{% endblock content %}