{% extends 'base.html' %}


{% block title %}
Movies
{% endblock title %}



{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3 shadow rounded me-3 ms-5 h-25 pb-3">
            <p class="lead h4 pt-2 pb-2">Filter By</p>
            <hr class="m-0 mb-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header">
                        <button class="accordion-button m-0 px-2 py-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="pt-2 border-0">Genre</h5>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if movie_genres %}
                            {% for genre in movie_genres %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheck{{genre.id}}">
                                <label class="form-check-label" for="flexCheck{{genre.id}}">
                                    {{ genre.genre_name }}
                                </label>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0">
                    <h2 class="accordion-header">
                        <button class="accordion-button mb-3 m-0 px-2 py-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collaspeTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h5 class="pt-2 border-0">Language</h5>
                        </button>
                    </h2>
                    <div id="collaspeTwo" class="accordion-collapse show collapse" data-bs-parent="#accordionExample">
                        <div class="accordian-body">
                            {% for language in movie_language %}
                            <div class="form-check ms-4">
                                <input class="form-check-input ps-2" type="checkbox" value=""
                                    id="flexChecklan{{language.id}}">
                                <label class="form-check-label ps-2" for="flexChecklan{{language.id}}">
                                    {{ language.language }}

                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-8 ms-3">
            <div class="row movie-font">
                {% if movies %}
                {% for movie in movies %}
                <div class="col-3 mb-3">
                    <div class="card shadow movie-banner">
                        <img src="{{ movie.movie_poster.url }}" alt="" class="card-img-top movie-poster-image">
                        <div class="card-body p-1 movie-banner-info">
                            <div class="card-title mb-0">{{movie.movie_name}}</div>
                            <div class="card-text movie-text">{{movie.movie_language}}|<svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="10" fill="currentColor"
                                    class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>{{movie.release_year}}</div>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <hr>
                <h4 class="text-center">No Movies Found</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}